<!DOCTYPE html>
<html lang="en">
{% load crispy_forms_tags %}  

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
  <title>Auction Site</title>

  <!-- CSS  -->
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

  <!--ICONS CSS-->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
    integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

  <link href="../static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />

  <div class="container.fluid">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <!-- Brand -->
      <a class="navbar-brand" href="../index.html">
        <img src="../images/whitelogo.png" alt="Logo" style="width:50px;">
      </a>
      <br></br>
      <br></br>
        {% if user.is_authenticated %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
            Welcome, {{user.firstname}}
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
          </div>
        </li>
    
        {% else %}
    
        <li class="nav-item">
          <a class="nav-link" href="login.html">Login</a>
        </li>
    
        {% endif %}
      </ul>
    </nav>
  </div>

</head>

<body>
  <div class="container">

    <!--Django Form-->
    <h2 class="my-4">Sell An Item</h2>
    <form id="post_form" method="post" action="" enctype="multipart/form-data">

      {% csrf_token %}
      {{SellForm|crispy}}
      
      <div class="form-group m-3">
        <!-- To display image -->
        <div id="image-container">

        </div>

        <!-- To upload new image -->
        <input required name="images" onchange="readURL(this);" type="file" multiple class="form-control-file">
        
        <script>
          function readURL(input) {
              if (input.files && input.files.length>0) {
                for(var i=0; i<input.files.length; i++){
                  var reader = new FileReader();
          
                  reader.onload = function (e) {
                      var image=document.createElement('img');
                      image.src=e.target.result;
                      image.style.width="300px";
                      var imageContainer= document.getElementById('image-container');
                      imageContainer.appendChild(image);
                  };
          
                  reader.readAsDataURL(input.files[i]);
              }
          }
          }  
          </script>
          


<!-- To display stored image URLs -->
<div id="image-url-list">
      </div>

     
      <br></br>
  
      <input type="submit" name="submit" value="Submit" />
  </form>



</div>
    <div class="footer">
      <a class="nav-link" href="#" style="color: gray;">Help and contact</a>
    </div>
  </div>

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <!-- Popper JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>

</html>